* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 15px;
    background-color: #63a7df;
}

.upload-form {
    display: flex;
    max-width: 350px;
    flex-flow: column;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 100px auto 15px auto;
}

.upload-form h1 {
    text-align: center;
    color: #434850;
    margin: 0;
    padding: 15px;
}

.upload-form label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #fafbfb;
    border: 1px solid #e6e8ec;
    color: #737476;
    padding: 10px 12px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

.upload-form label:hover {
    color: #cfd1d4;
}

.upload-form input[type="file"] {
    appearance: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.upload-form .progress {
    height: 20px;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #e6e8ec;
}

.upload-form button {
    appearance: none;
    background-color: #be5a41;
    border-radius: 4px;
    border: 0;
    padding: 10px 12px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.upload-form button:hover {
    background-color: #b6563e;
}

.upload-form button:disabled {
    background-color: #aca7a5;
}
.upload-form .result {
    padding-top: 15px;
}